export PROJECT_HOME="$PWD"
# using the local registry by default override as needed
export KO_DOCKER_REPO="k3d-myregistry.localhost:5001/example"
export KUBECONFIG="$PWD/.kube/config"
export QUARKUS_MONGODB_CONNECTION_STRING=mongodb://mongodb
export FRUITS_DB=testdb
export FRUITS_DB_COLLECTION=testdb

source_env_if_exists .envrc.local
