export PROJECT_HOME="$PWD"
# using the local registry by default override as needed
export KO_DOCKER_REPO="k3d-myregistry.localhost:5001/example"
export KUBECONFIG="$PWD/.kube/config"
source_env_if_exists .envrc.local